Repository Leasw144/rancid-tomatatillos, pull requests merged in 2020-09, with the labels that each got.

#47 Feature/user comments
  src/APICalls.js
  src/App.js
  src/CardSection/CardSection.js
  src/DetailsPage/DetailsPage.css
  src/DetailsPage/DetailsPage.js
  src/Header/Header.js
  src/MovieCard/MovieCard.js
Labels: API, App, CardSection, DetailsPage, MovieCard, MovieDetails, fetch data

#48 Feature/style comments section
  src/CardSection/CardSection.js
  src/DetailsPage/DetailsPage.css
  src/DetailsPage/DetailsPage.js
Labels: DetailsPage, Styling

#53 Feature/filter favs
  src/APICalls.js
  src/App.js
  src/CardSection/CardSection.js
  src/DetailsPage/DetailsPage.js
  src/Header/Header.js
  src/MovieCard/MovieCard.js
Labels: API, App, CardSection, MovieCard, bug, favorites
