Repository Leasw144/rancid-tomatatillos, pull requests merged in 2020-08, with the labels that each got.

#15 Feature/header
  public/index.html
  pull-request-template.md
  src/App.js
  src/CSS/App.css
  src/CSS/Header.css
  src/CSS/MovieCard.css
  src/CSS/index.css
  src/Components/CardSection.js
  src/Components/Header.js
  src/Components/MovieCard.js
  src/assets/tomato.jpg
  src/index.js
Labels: App, CardSection, Component, MovieCard, css

#16 Feature/fix fetch
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/Components/CardSection.js
  src/Components/MovieCard.js
Labels: CardSection, bug, help wanted

#17 Feature/fetch bug fix
  pull-request-template.md
  src/App.js
  src/CSS/App.css
  src/CSS/CardSection.css
  src/CSS/Header.css
  src/CSS/Login.css
  src/CSS/MovieCard.css
  src/Components/CardSection.js
  src/Components/Header.js
  src/Components/Login.js
  src/Components/MovieCard.js
Labels: App, CardSection, Component, MovieCard, Styling, fetch data

#20 Feature/login user
  src/App.js
  src/Components/Login.js
Labels: App, enhancement, fetch data, login

#35 Feature/movie details
  src/APICalls.js
  src/App.js
  src/CardSection/CardSection.js
  src/DetailsPage/DetailsPage.css
  src/DetailsPage/DetailsPage.js
  src/DetailsPage/DetailsPage.test.js
  src/MovieCard/MovieCard.js
Labels: API, App, CardSection, Component, MovieCard, bug, enhancement, error handling, fetch data, login

#37 Feature/personal ratings
  src/APICalls.js
  src/App.js
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
Labels: API, App

#39 Feature/render ratings
  package-lock.json
  package.json
  src/APICalls.js
  src/App.js
  src/DetailsPage/DetailsPage.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
Labels: API, App, DetailsPage, enhancement, fetch data, login

#40 Feature/render ratings
  package-lock.json
  package.json
  src/App-resources/App.test.js
  src/Login/Login.js
  src/MovieCard/MovieCard.test.js
Labels: testing

#41 Style movie details page
  src/App.js
  src/DetailsPage/DetailsPage.css
  src/DetailsPage/DetailsPage.js
  src/MovieCard/MovieCard.css
Labels: Styling

#43 Feature/routing
  src/App.js
  src/CardSection/CardSection.js
  src/Header/Header.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
  src/index.js
Labels: CardSection, DetailsPage, Header, bug, error handling, router

#44 Feature/details page tests
  package-lock.json
  package.json
  src/APICalls.js
  src/App-resources/App.test.js
  src/App.js
  src/CardSection/CardSection.js
  src/DetailsPage/DetailsPage.js
  src/DetailsPage/DetailsPage.test.js
  src/Header/Header.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
Labels: API, App, bug, error handling, fetch data, login

#45 Feature/fix login
  package-lock.json
  package.json
  src/App-resources/App.test.js
  src/App.js
  src/DetailsPage/DetailsPage.js
  src/Login/Login.js
Labels: API, App, router

#46 Feature/show user ratings
  src/APICalls.js
  src/App.js
  src/DetailsPage/DetailsPage.js
  src/Header/Header.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
Labels: API, App, DetailsPage, bug, fetch data
